@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')
$navHeight: 50px
*
    margin: 0
    padding: 0
html
    scrollbar-width: none
body
    font-family: 'Nunito', sans-serif
    color: #222
    .container
        width: 90%
        max-width: 1000px
        margin: auto
        p
            // text-indent: 20px
    form
        padding-top: 20px
        padding-bottom: calc($navHeight + 20px)
        nav
            position: fixed
            bottom: 0
            width: 100%
            border-top: 1px solid #00000022
            background-color: #ffffff
            backdrop-filter: blur(10px)
            display: flex
            justify-content: center
            align-items: center
            color: #999
            // display: none
            button
                line-height: $navHeight
                color: #999
                background-color: #ffffff00
                display: block
                // padding: 0 20px
                border: none
                cursor: pointer
                font-family: 'Nunito', sans-serif
                // width: 50px
                height: $navHeight
                width: $navHeight
                display: flex
                justify-content: center
                align-items: center
                &#next
                    svg
                        transform: scaleX(-1)
                svg
                    width: calc($navHeight / 4)
                    height: calc($navHeight / 4)
                    opacity: 0.4
